/* Header.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 30px 76px 30px 36px;
  background-color: #fff;
  position: fixed;
}

/* Add a box shadow only for main header */
.navbar.main {
  box-shadow: 0 2px 4px #516b9829 !important;
}

.logo {
  font-size: 24px;
  margin-left: 94px;
}

.sign-in {
  margin-right: 15px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: white !important;
  background-image: linear-gradient(45deg, #fe6b02, #febfbf);
  font-size: 14px;
  border-radius: 30px 0 30px 30px;
  transition: all 0.8s ease !important;
  border: none;
}

.sign-in:hover {
  border-radius: 30px;
  cursor: pointer;
}

.nav-links {
  display: flex; /* To arrange links horizontally */
  gap: 15px; /* Space between links */
  margin-left: 350px; /* Adjust as needed */
  align-items: center;
}

.nav-links a {
  color: rgb(34, 33, 33); /* Link color */
  text-decoration: none; /* Remove underline */
  font-weight: 500; /* Optional: Slightly bolder text */
  transition: color 0.3s; /* Smooth color transition */
}

/* Unique styles for login page */
.login-sign-in {
  margin-right: 190px;
  margin-left: -95px;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  transition: 0.2s; /* Smooth transition */
  border: none;
  border: 1px solid #596de5;
  background-color: #596de5;
  padding: 5px 25px;
  border-radius: 6%;
}

.login-sign-in:hover {
  transform: scale(1.05); /* Slightly scale up */
  background-image: linear-gradient(45deg, #fe6b02, #febfbf);
  cursor: pointer; /* Change cursor to pointer */
}

/* Responsive styles */

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
    flex-direction: row; /* Keep items in a row */
    justify-content: space-between; /* Space between items */
  }

  .logo {
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .nav-links {
    margin: 0; /* Remove extra margin */
    gap: 10px;
    font-size: 14px;
  }

  .sign-in {
    margin-right: 20px; /* Adjust margin */
  }

  .login-sign-in {
    font-size: 14px;
    padding: 4px 20px;
    margin-left: 0; /* Reset margin-left */
    margin-right: 10px; /* Add a smaller right margin */
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 120px; /* Resize logo for small screens */
  }

  .nav-links {
    font-size: 12px;
    gap: 8px;
  }

  .navbar.main {
    padding: 10px;
  }

  .login-sign-in {
    font-size: 12px;
    padding: 3px 15px;
    margin: 10px 0 0 0; /* Center align and remove side margins */
    margin-bottom: 7px;
  }
}
